<div class="post-container">
    <% @posts.each do |post|%>
    <% post_user=post.user %>
    <div class="post-index-item card">
        <%# ユーザー情報%>
        <%= link_to("/users/#{post_user.id}") do %>
        <div class="card-body color-set">
        <h5 class="card-title">
        <%# ユーザー画像%>
            <img src="
                <% if post_user.image_name%>
                <%= "/user_image/#{post_user.image_name}" %>
                <% else%>
                <%= "/initial_user_icon.jpg" %>
                <% end %>
            ", class="user-icon">
        <%# ユーザー名%>
        <div class="post-user-name no-link">
          <%= post_user.name %>
        </div>
        </h5>
        </div>
        <% end %>
        <%# 投稿内容 %>
        <%= link_to("/posts/#{post.id}") do %>
            <%# 投稿画像%>
            <img src=" <%= "/content_image/#{post.image_name}" %>" class="card-img-top">
            <div class="card-body color-set">
                <div class="card-text">
                    <div class="f-container">
                        <div class="f-item"> <%# 住所マーク%>
                        <span class="fas fa-map-marker"></span>
                        </div>
                        <div class="f-item"> <%# 住所%>
                        <h4 class="post-address">
                            <%= post.address %>
                        </h4>
                        </div>
                        <div class="f-itemn left-shift"> <%# いいね%>
                            <h4>
                                <%= "いいね！ #{post.like_counter}件" %>
                            </h4>
                        </div>
                    </div>
                    <%# コメント%>
                    <h3 class="no-link">
                        <%= post.content %>
                    </h3>
                </div>
            </div>
        <% end %>
    </div>
    <%end%>
</div>
