<div class="post-container">
    <% @posts.each do |post|%>
    <% post_user=post.user %>
    <div class="post-index-item card">
        <%# ユーザー情報%>
        <div class="card-body">
        <h5 class="card-title">
        <%# ユーザー画像%>
            <img src="
                <% if post_user.image_name%>
                <%= "/user_image/#{post_user.image_name}" %>
                <% else%>
                <%= "/initial_user_icon.jpg" %>
                <% end %>
            ", class="user-icon">
        <%# ユーザー名%>
          <%= link_to(post_user.name, "/users/#{post_user.id}") %>
        </h5>
        </div>
        <%# 投稿画像%>
        <img src=" <%= "/content_image/#{post.image_name}" %>" class="card-img-top">
        <div class="card-body">
        <%# 投稿内容%>
        <div class="card-text">
        <%# 住所%>
            <span class="fas fa-map-marker"></span>
            <h3>
                <%= post.address %>
            </h3>
        <%# いいね%>
            <h4 class="like-count">
                <%= "いいね！ #{post.like_counter}件" %>
            </h4>

        <%# コメント%>
            <h3>
                <%= link_to(post.content, "/posts/#{post.id}") %>
            </h3>
        </div>
       
        </div>
    </div>
    <%end%>
</div>
