<div class="post-container">
    <div class="post-index-item card">
        <img src=" <%= "/content_image/#{@post.image_name}" %>" class="card-img-top">
        <div class="card-body">
        <h5 class="card-title">
        <% post_user=@post.user %>
          <img src="
            <% if post_user.image_name%>
            <%= "/user_image/#{post_user.image_name}" %>
            <% else%>
            <%= "/initial_user_icon.jpg" %>
            <% end %>
            ",  class="user-icon">
          <%= link_to(post_user.name, "/users/#{post_user.id}") %>
        </h5>
        <p class="card-text card-content">
          <%= @post.content %>
        </p>
        <p class="card-text card-time">
          <%= @post.updated_at %>
        </p>
         <%# いいねボタン%>
          <% if Like.find_by(user_id: @current_user.id, post_id: @post.id)%>
           <%= link_to("/likes/#{@post.id}/destroy", {method: "post"}) do%>
            <span class="fa fa-heart like-btn"></span>
           <% end %>
          <% else %>
           <%= link_to("/likes/#{@post.id}/create", {method: "post"}) do%>
            <span class="fa fa-heart unlike-btn"></span>
           <% end %>
          <%end%>
          <%= @post.like_counter %>
        <%if @current_user.id==post_user.id %> <%#ユーザー本人の投稿の時だけ表示%>
         <ul class="card-text">
            <li>
                <%= link_to("編集", "/posts/#{@post.id}/edit")%>
            </li>
            <li>
                <%= link_to("削除", "/posts/#{@post.id}/destroy") %>
            </li>
        </ul>
        <% end %>
        </div>
    </div>
</div>