<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>ArcPost</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </head>

  <body>
  <%# navigation bar %>
    <nav class="navbar navbar-dark bg-dark fixed-top navbar-expand-sm">
        <%= link_to("ArcPost", "/", :class=>"navbar-brand") %>
      <ul class="navbar-nav mr-auto">
        <%#ログイン中のナビゲーションバー%>
        <% if @current_user%>   
          <li class="nav-item">
            <%= link_to("ArcPostとは", "/info", :class=>"nav-link") %>
          </li>
          <li class="nav-item">
            <%= link_to("タイムライン", "/posts/index", :class=>"nav-link") %>
          </li>
          <li class="nav-item">
            <%= link_to("新規投稿", "/posts/new", :class=> "nav-link") %>
          </li>
           <li class="nav-item">
            <%= link_to("ユーザー一覧", "/users/index", :class=> "nav-link") %>
          </li>
          <li class="nav-item">
            <%= link_to("ログアウト", "/logout", {method: "post", class: "nav-link"}) %>
          </li>
        <% else %><%#ログアウト中のナビゲーションバー%>
          <li class="nav-item">
            <%= link_to("ArcPostとは", "/info", :class=>"nav-link") %>
          </li>
          <li class="nav-item">
            <%= link_to("タイムライン", "/posts/index", :class=>"nav-link") %>
          </li>
          <li class="nav-item">
            <%= link_to("ユーザー登録", "/users/new", :class=> "nav-link") %>
          </li>
          <li class="nav-item">
            <%= link_to("ログイン", "/login", :class=> "nav-link") %>
          </li>
        <% end %>          
      </ul>
      <ul class="navbar-nav">
        <% if @current_user%>
        <li class="nav-item mr-4">
            <img src="
              <% if @current_user.image_name%>
              <%= "/user_image/#{@current_user.image_name}" %>
              <% else%>
              <%= "/initial_user_icon.jpg" %>
              <% end %>
            ", class="user-icon rounded-circle">
        </li>
        <li class="nav-item mr-4">
         <%= link_to("#{@current_user.name}", "/users/#{@current_user.id}", :class=> "nav-link current-user-item") %>
        </li>
        <% end %>
      </ul>
    </nav>
  <%# nabigation bar end %>
  <%# flash start %>
  <% if flash[:notice] %>
    <div class="alert alert-danger text-center">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <%# flash end %>

  









    <%= yield %>
  </body>
</html>
